<!DOCTYPE html>
<html ng-app="tutorialApp">
<head>
<meta charset="ISO-8859-1">
<title>Angular tutorial</title> t>
<script src="js/app.js"></script>
<script src="js/controllers/tutorialCtrl.js"></script>

<script
	src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
<script
	src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-route.js"></script>
</head>
<body>

	<div ng-view></div>
</body>
<!-- <body ng-controller="TutorialCtrl">
<div >
<p> Number: {{2+2}}</p>
<p> String {{tutorialObject.firstName + " " + tutorialObject.lastName}}</p>
<p><b>Binding: {{tutorialObject.bindOutout |currency:"DRX "}}</b></p>

<label>First Name </label>
<input ng-model="tutorialObject.firstName | uppercase">
<br/>
<label>Last Name </label>
<input ng-model="tutorialObject.lastName |lowercase">
<welcome-message></welcome-message>

<br/>
<button ng-click="timesTwo()">Multiply</button>

<br />
</div>
</body> -->
</html>