<!DOCTYPE html>
<html ng-app="tutorialApp">
<head>
<meta charset="ISO-8859-1">
<title>Angular tutorial</title>
<script src="lib/angular.js"></script>
<script src="js/app.js"></script>
<script src="js/controllers/tutorialCtrl.js"></script>
  <style>
    .grid-container {
      display: grid;
      grid-template-columns: auto auto auto;
      background-color: #2196F3;
      padding: 10px;
    }
    .grid-item {
      background-color: rgba(255, 255, 255, 0.8);
      border: 1px solid rgba(0, 0, 0, 0.8);
      padding: 20px;
      font-size: 30px;
      text-align: center;
    }
  </style>

</head>
<body ng-controller="TutorialCtrl">
<hr />

<h1>{{tutorialObject.title}}</h1>
<h2>{{tutorialObject.subtitle}}</h2>



<div class="grid-container" ng-dblclick="dbcount = dbcount + 1" ng-click="showAlert()">
  <div class="grid-item">1</div>
  <div class="grid-item">2</div>
  <div class="grid-item">3</div>
  <div class="grid-item">4</div>
  <div class="grid-item">5</div>
  <div class="grid-item">6</div>
  <div class="grid-item">7</div>
  <div class="grid-item">8</div>
  <div class="grid-item">9</div>
</div>
<h1 ng-dblclick="dbcount = dbcount + 1" ng-click="showAlert()" ng-init="dbcount=0" >Double_Click</h1>
<br/>
<p>Double count {{dbcount}}</p>
<p>Single count {{tutorialObject.sgCount}}</p>
</body>
</html>