
<h1>{{tutorialObject.title}}</h1>
<h2>{{tutorialObject.subtitle}}</h2>


<p> Number: {{2+2}}</p>
<p> String {{tutorialObject.firstName + " " + tutorialObject.lastName}}</p>
<p><b>Binding: {{tutorialObject.bindOutout}}</b></p>

<label>First Name </label>
<input ng-model="tutorialObject.firstName | uppercase">
<br/>
<label>Last Name </label>
<input ng-model="tutorialObject.lastName |lowercase">
<welcome-message></welcome-message>

<br/>
<button ng-click="timesTwo()">Multiply</button>

<br />

<br />
<a href="#/tutorialSecond">Tutorial Second Page</a>
